.loadArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconArea {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #d1e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.areaText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
}

.areaTextHead {
  color: #324964;
  margin-bottom: 8px;
}

.areaTextMiddle {
  color: #4991e5;
  margin-bottom: 4px;
}

.areaTextControl {
  color: #4991e5;
  cursor: pointer;
}
