.loadZone {
  width: 100%;
  height: 100%;
}

.dropArea {
  width: 100%;
  height: 85%;
  border: 1px dashed #4991e5;
  background-color: #f5f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
